section.hero
    div.section__container
        .hero__wrapper 
            h1.hero__title.title.title--light
                | В путешествие
                br
                | с крутыми
                br
                | попутчиками!
            include instructions 