-
    let instructionArray = [
        {text: "Выберите<br>направление", number: "1"},
        {text: "Изучите идеи<br>путешественников", number: "2"},
        {text: "Находите тех,<br>кто похож на вас", number: "3"},
        {text: "Путешествуйте<br>вместе!", number: "4"}
    ];

div.instructions
  ul.instructions__cards.list-reset
    each item in instructionArray
      li.instructions__card
        p.instructions__text!= item.text 
        span.instructions__counter= item.number