section.profile 
    div.section__container
        .profile__wrapper 
            h2.profile__title Добавьте свой профиль
                div.profile__info
                    ul.profile__list 
                        li.profile__item 
                            span.profile__number 
                            p.profile__text
                        li.prufile__item 
                            span.profile__number.profile__number--button
                            p.profile__text.profile__text--button
                    .profile__price 
                        .profile__price-container
                            h3.profile__price-title 
                            ul.profile__price-list 
                                li.profile__price-item 
